.myfooter {
  background-color: red;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin: auto; }

body {
  background: #e6e6e6; }

#testdiv {
  margin-top: 30px;
  padding: 20px;
  font-family: arial;
  box-sizing: border-box;
  background-color: blue;
  color: white;
  height: 350px;
  width: 300px !important;
  display: block;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #ff3366; }

#next {
  display: block;
  display: flex; }
  #next p {
    display: flex; }
  #next h1 {
    color: #000; }
